*{
    box-sizing:border-box
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /*viewheight*/
    background: linear-gradient(135deg, #153677, #4e085f);
}

body,.boxarea{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    background-image: linear-gradient(orange , yellow);
    ;
    padding: 1rem;
    border-radius: .5rem;
    width: 700px;
    max-width: 90%;
}


.timer{
    position: absolute;
    top: 3rem;
    font-size: 3.2rem;
    background-image: linear-gradient(orange, yellow);
    font-weight: bolder;
    border-radius: .5rem;
}

.middlebox{ /*box outside the typing box*/
    margin-bottom: 2rem;
    font-size: larger;
    /*calc to calc exact value*/
    margin-left: calc( 1rem + 3px );
    margin-right: calc( 1rem + 3px );
    font-size: 1rem;
}
.boxarea{  /*box for typing text*/
    background-color: transparent;/*to create a sort of frame*/
    border: 3px solid #A1922E;
    outline: none;
    border-radius: 5px;
    width: 100%;
    height: 8rem;
    margin: auto;
    resize: none;
    padding: .5rem 1rem;
    border-radius: .5rem;
}
.boxarea:focus {
    border-color: #241571;
}

.correct {
    color: green;
}

.incorrect{
    color: red;
    text-decoration: underline;
}